body{
    font-family: 'Lato', sans-serif;
}

.x {
    margin-top: 15%;
}

.a1 {
    width: 70%;
    display: flex;
    margin: auto;
    padding: auto;
}

.a1 .b {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.a1 .b img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.b1 {
    width: 70%;
    display: flex;
    margin: auto;
    padding: auto;
}

.b1 .c {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.b1 .c img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

